<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The titele is the name shown in the tab -->
    <title>Blog Ninja | <%= title %></title>
    <!-- automatically looks into the public folder as it was declared in app.js via express.static
    Therefor we do not need to specify /public/styles.css -->
    <link rel="stylesheet" href="/styles.css">
</head>